#my-projects {
  padding-top: 10em;
}

.container-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-top: 2em;
}

.container-projects a {
  width: 25%;
  /* height: 5rem; */
}

.view-more {
  font-family: 'Montserat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.view-more a {
  color: #6246ea;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  #my-projects {
    padding-top: 4em;
  }

  .container-projects a {
    width: 85%;
  }
}

@media screen and (max-width: 1040px) {
  .container-projects {
    gap: 1rem;
  }
}
